extends base

block content
    main.main
        .forgetpassword-form
            h2.heading-secondary.ma-bt-lg Forgot Password?
            p You can reset your Password here.
            form.form.form--forgetPass
                .form__group
                    input#email.form__input(type='email', placeholder='jack@natours.io', required)
                .form__group
                    button.btn.btn--green Forget Password