extends base

block content

    section
        - for (var i = 0; i < 208; i++)
            span
        .signin
            .content--signin
                h2 Log into your account
                form.form.form--login
                    .inputBox
                        input#email.form__input__login(type="email", required)
                        i Email
                    .inputBox.ma-bt-md
                        input#password.form__input__login(type="password", required, minlength='8')
                        i Password
                    .links
                        a(href="#") Forgot Password
                        a(href="/signup") Signup
                    .inputBox
                        input(type="submit", value="Login")
